new Glider(document.querySelector('.glider'), {
    slidesToShow: 2,
    draggable: true,
    arrows: {
      prev: '.glider-prev',
      next: '.glider-next'
    },
    dots: '.dots'
  })
 .wrapperForDemo {
   width: 500px;
   max-width: 80%;
   margin: 0 auto;
 }
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
 <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
 
 <div class="wrapperForDemo">
   <div class="glider-contain">
     <div class="glider">
       <div><img src="https://placeimg.com/300/200/arch" alt="Barcelona"></div>
       <div><img src="https://placeimg.com/300/200/animals" alt="Barcelona"></div>
       <div><img src="https://placeimg.com/300/200/tech" alt="Barcelona"></div>
       <div><img src="https://placeimg.com/300/200/people" alt="Barcelona"></div>
     </div>
 
     <button role="button" aria-label="Previous" class="glider-prev">«</button>
     <button role="button" aria-label="Next" class="glider-next">»</button>
     <div role="tablist" class="dots"></div>
   </div>
 </div>